<header class="bg-primary py-5">
  <div class="container px-4 px-lg-5 my-5">
    <div class="text-center text-white">
      <h1 class="display-4 fw-bolder">商品追加</h1>
      <p class="lead fw-normal text-white-50 mb-0">管理画面</p>
    </div>
  </div>
</header>
<section class="py-5 container">
<% if @product.errors.any? %>
<div class="alert alert-danger">
  <ul>
    <% @product.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>
  <%= form_with model: @product, url: admin_products_path, data: { turbo_method: :post }, multipart: true, local: true do | form | %>
  <div class="mb-3">
    <%= form.label :name, "商品名", class: 'form-label' %>
    <%= form.text_field :name, class: 'form-control', placeholder: '商品名を入力してください' %>
  </div>
  <div class="mb-3">
    <%= form.label :price, "価格", class: 'form-label' %>
    <%= form.number_field :price, class: 'form-control', placeholder: '価格を半角数字で入力してください' %>
  </div>
  <div class="mb-3">
    <%= form.label :evaluation, "評価", class: 'form-label' %>
    <%= form.number_field :evaluation, class: 'form-control', placeholder: '評価を1〜5の整数で入力してください' %>
  </div>
  <div class="mb-3">
    <%= form.label :image, "画像", class: 'form-label' %>
    <%= form.file_field :image, class: 'form-control' %>
  </div>
  <div class="mb-3">
    <%= form.label :description, "説明", class: 'form-label' %>
    <%= form.text_area :description, class: 'form-control', placeholder: '説明を入力してください' %>
  </div>
  <%= form.submit '追加', class: 'btn btn-outline-dark' %>
  <% end %>
</section>